In [1]:
import pandas as pd
import quandl

df = quandl.get("WIKI/GOOGL")

In [6]:
import math
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression
import numpy as np

In [4]:
df.head(1)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0

### Changing df acc. to our own needs

In [7]:
df = df[['Adj. Open',  'Adj. High',  'Adj. Low',  'Adj. Close', 'Adj. Volume']]
df.head(1)

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0

 ### Adding new columns

In [8]:
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Close'] * 100.0
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0
df.head(1)

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,8.072956,0.324968

### Defining new df

In [9]:
df = df[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']]
df.fillna(-99999, inplace = True )
df.head(2)

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0
2004-08-20   54.322689  7.921706    7.227007   22834300.0

In [14]:
df['forecast_col'] = df['Adj. Close']
forecast_out = int(math.ceil(0.01*len(df))) # percent by which to shift 'Adj. Close' upwards
df['label'] = df['forecast_col'].shift(-forecast_out) #shifts upward by value = forecast_out
df.head(2)

,Adj. Close,HL_PCT,PCT_change,Adj. Volume,forecast_col,label
Date,,,,,,
2004-08-19,50.322842,8.072956,0.324968,44659000.0,50.322842,69.078238
2004-08-20,54.322689,7.921706,7.227007,22834300.0,54.322689,67.839414

### Creating X and Y i.e features and labels

In [18]:
df.dropna(inplace = True)
x = np.array(df.drop(['label'],1))
x = preprocessing.scale(x)
y = np.array(df['label'])

[[ 5.03228418e+01  8.07295560e+00  3.24967503e-01  4.46590000e+07
   5.03228418e+01]
 [ 5.43226889e+01  7.92170621e+00  7.22700723e+00  2.28343000e+07
   5.43226889e+01]
 [ 5.48693765e+01  4.04936015e+00 -1.22788010e+00  1.82561000e+07
   5.48693765e+01]
 ...
 [ 1.18159000e+03  1.53098791e+00  4.76194525e-01  2.77496700e+06
   1.18159000e+03]
 [ 1.11920000e+03  1.79860615e+00 -7.29098295e-01  5.79888000e+06
   1.11920000e+03]
 [ 1.06876000e+03  5.45024140e+00 -2.89384977e+00  3.74246900e+06
   1.06876000e+03]]

### Splitting the data into testing and training set

In [16]:
x_train, x_test, y_train, y_test = cross_validation.train_test_split(x,y,test_size = 0.2)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((2711, 5), (678, 5), (2711,), (678,))

### Training with SVR (Support Vector Regression)

In [79]:
clf = svm.SVR()
clf.fit(x_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [81]:
confidence = clf.score(x_test,y_test)
print(confidence)

0.7872718634735898

#### Using different kernels in SVR

In [87]:
for k in ['linear','poly','rbf','sigmoid']:
    clf = svm.SVR(kernel=k)
    clf.fit(x_train, y_train)
    confidence = clf.score(x_test, y_test)
    print(k,confidence)

linear 0.9795914889467047
poly 0.6829424250907499
rbf 0.7872718634735898
sigmoid 0.8998878704893346

### Training with LinearRegression

In [82]:
clf = LinearRegression()
clf.fit(x_train,y_train)
confidence = clf.score(x_test,y_test)
print(confidence)

0.9801365822156849

In [88]:
forecast_out

35

In [19]:
df

,Adj. Close,HL_PCT,PCT_change,Adj. Volume,forecast_col,label
Date,,,,,,
2004-08-19,50.322842,8.072956,0.324968,44659000.0,50.322842,69.078238
2004-08-20,54.322689,7.921706,7.227007,22834300.0,54.322689,67.839414
2004-08-23,54.869377,4.049360,-1.227880,18256100.0,54.869377,68.912727
2004-08-24,52.597363,7.657099,-5.726357,15247300.0,52.597363,70.668146
2004-08-25,53.164113,3.886792,1.183658,9188600.0,53.164113,71.219849
2004-08-26,54.122070,3.048837,2.820391,7094800.0,54.122070,72.278116
2004-08-27,53.239345,2.760245,-1.803885,6211700.0,53.239345,74.810934
2004-08-30,51.162935,3.411430,-3.106003,5196700.0,51.162935,74.199045
2004-08-31,51.343492,1.514115,0.048866,4917800.0,51.343492,70.462511
2004-09-01,50.280210,3.291771,-2.385589,9138200.0,50.280210,74.921275
2004-09-02,50.912161,3.378977,2.442224,15118600.0,50.912161,86.481962
2004-09-03,50.159839,2.419758,-0.931154,5152400.0,50.159839,93.990139
2004-09-07,50.947269,2.352825,0.564301,5847500.0,50.947269,91.181468
2004-09-08,51.308384,2.473118,1.548541,4985600.0,51.308384,93.272925
2004-09-09,51.313400,1.671391,-0.185366,4061700.0,51.313400,96.949273
2004-09-10,52.828075,4.993829,3.804080,8698800.0,52.828075,95.615155
2004-09-13,53.916435,1.813953,0.815905,7844100.0,53.916435,98.318500
2004-09-14,55.917612,4.673065,3.769546,10828900.0,55.917612,97.736704
2004-09-15,56.173402,3.598214,1.302460,10713000.0,56.173402,96.131750
2004-09-16,57.161452,3.641309,1.450952,9266300.0,57.161452,92.635958
2004-09-17,58.926902,3.353477,2.683097,9472500.0,58.926902,84.937193
2004-09-20,59.864797,4.046582,2.060710,10628700.0,59.864797,86.542147
2004-09-21,59.102444,2.469450,-1.963394,7228700.0,59.102444,84.611187
2004-09-22,59.373280,2.415949,0.791826,7581200.0,59.373280,84.189886
2004-09-23,60.597057,4.643271,1.666106,8535600.0,60.597057,91.793357
2004-09-24,60.100525,3.621798,-0.942382,9123400.0,60.100525,91.281778
2004-09-27,59.313094,2.604431,-1.087320,7066100.0,59.313094,92.721222
2004-09-28,63.626409,5.667665,4.713165,16929000.0,63.626409,86.539640
2004-09-29,65.742942,6.705829,3.595985,30516400.0,65.742942,86.517070
2004-09-30,65.000651,2.546296,-0.230179,13758000.0,65.000651,84.029391
...,...,...,...,...,...,...
2017-12-21,1070.850000,0.795630,-0.422172,1211012.0,1070.850000,1054.140000
2017-12-22,1068.860000,0.381715,-0.106542,860800.0,1068.860000,1072.700000
2017-12-26,1065.850000,0.958859,-0.261080,914574.0,1065.850000,1091.360000
2017-12-27,1060.200000,0.932843,-0.600038,1027634.0,1060.200000,1095.500000
2017-12-28,1055.950000,1.085279,-0.593081,982285.0,1055.950000,1103.590000
2017-12-29,1053.400000,0.507879,-0.198012,1156357.0,1053.400000,1113.750000
2018-01-02,1073.210000,2.139376,1.917343,1555809.0,1073.210000,1109.900000
2018-01-03,1091.520000,2.076920,1.637909,1550593.0,1091.520000,1128.090000
2018-01-04,1095.760000,0.896182,-0.121230,1289293.0,1095.760000,1143.700000
2018-01-05,1110.290000,1.060984,0.619874,1493389.0,1110.290000,1117.510000
2018-01-08,1114.210000,0.822107,0.288929,1148958.0,1114.210000,1103.920000
2018-01-09,1112.790000,0.920210,-0.505168,1335995.0,1112.790000,1071.410000
2018-01-10,1110.140000,0.792693,0.283650,1027781.0,1110.140000,1084.140000
2018-01-11,1111.880000,0.752779,-0.038658,1102461.0,1111.880000,1094.760000
2018-01-12,1130.650000,2.059877,1.851185,1914460.0,1130.650000,1100.900000
2018-01-16,1130.700000,1.965154,-0.842753,1783881.0,1130.700000,1115.040000
2018-01-17,1139.100000,1.389694,0.241121,1353097.0,1139.100000,1129.380000
2018-01-18,1135.970000,1.419932,-0.296660,1333633.0,1135.970000,1160.840000
2018-01-19,1143.500000,0.986445,0.480655,1418376.0,1143.500000,1165.930000
2018-01-22,1164.160000,2.152625,1.778252,1437954.0,1164.160000,1139.910000
2018-01-23,1176.170000,0.957345,0.474108,1832126.0,1176.170000,1148.890000
2018-01-24,1171.290000,1.677637,-1.155294,1818182.0,1171.290000,1150.610000
2018-01-25,1182.140000,1.113235,0.121114,1398961.0,1182.140000,1134.420000
2018-01-26,1187.560000,1.644548,0.002526,1981476.0,1187.560000,1100.070000
2018-01-29,1186.480000,1.174904,-0.127946,1533931.0,1186.480000,1095.800000
2018-01-30,1177.370000,1.139829,-0.029718,1792602.0,1177.370000,1094.000000
2018-01-31,1182.220000,1.202822,-0.134312,1643877.0,1182.220000,1053.150000
2018-02-01,1181.590000,1.530988,0.476195,2774967.0,1181.590000,1026.550000
2018-02-02,1119.200000,1.798606,-0.729098,5798880.0,1119.200000,1054.090000
2018-02-05,1068.760000,5.450241,-2.893850,3742469.0,1068.760000,1006.940000